<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MCGS_Time" value="T"/>
    <add key="MCGS_TimeMS" value="T"/>
    <add key="日显示01" value="V"/>
    <add key="目标温度1" value="V"/>
    <add key="平均温度显示1" value="V"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>